<div id="content">
    <h3>User Stories by Status</h3>
    <div class="demo-container">
   		<div chart class="demo-placeholder"
                source-array="stories" source-prop="status"
                reference-array="statuses" reference-prop="name">
   		</div>
   	</div>
    <h3>User Stories by Type</h3>
	<div class="demo-container">
		<div chart class="demo-placeholder"
             source-array="stories" source-prop="type"
             reference-array="types" reference-prop="name">
		</div>
	</div>
</div>