<!-- STORIES -->
<div class="list-area">
    <div class="list-wrapper">
        <ul class="list my-repeat-animation" sortable ng-repeat="status in statuses">
            <h3>{{status.name}}</h3>
            <hr>
            <li userstory ng-repeat="story in stories | filter:{status:status.name}" class="story my-repeat-animation" ng-click="setCurrentStory(story)">
                <article class="{{story.type}}">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="deleteStory(story.id);">&times;</button>
                        <h3>{{story.title}}</h3>
                    </div>
                    <div class="modal-body">
                        <p>{{story.description}}</p>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</div>

<!-- STORY DETAILS -->
<div class="details details-animation" ng-class="{'details-visible':detailsVisible}">
    <div class="details-nav">
        <div ng-if="!detailsVisible">
            <button class="btn pull-left" ng-click="setDetailsVisible(true)"><i class="icon-chevron-left"></i></button>
        </div>
        <div ng-if="detailsVisible">
            <button class="btn pull-right" ng-click="setDetailsVisible(false)"><i class="icon-chevron-right"></i></button>
        </div>
    </div>

    <div ng-if="detailsVisible" class="my-fade-animation">
        <h3>Card Details</h3>

        <form name="detailsForm" novalidate>
            <div class="control-group">
                <div class="controls">
                    <label class="control-label" for="inputTitle">*Title</label>
                    <input type="text" id="inputTitle" name="inputTitle" placeholder="Title" ng-model="editedStory.title" ng-required="true" ng-minlength="3" ng-maxlength="10">

                    <div class="alert alert-error" ng-show="detailsForm.inputTitle.$dirty && detailsForm.inputTitle.$invalid">
                        <small ng-if="detailsForm.inputTitle.$error.required">Required!</small>
                        <small ng-if="detailsForm.inputTitle.$error.minlength">Too short!</small>
                        <small ng-if="detailsForm.inputTitle.$error.maxlength">Too long!</small>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputStatus">*Status</label>

                <div class="controls">
                    <select id="inputStatus" name="inputStatus" ng-model="currentStatus" ng-options="l.name for l in statuses" ng-change="setCurrentStatus(currentStatus)" ng-required="true">
                        <option value="">Select Status</option>
                    </select>

                    <div class="alert alert-error" ng-show="detailsForm.inputStatus.$dirty && detailsForm.inputStatus.$invalid">
                        <small ng-if="detailsForm.inputStatus.$error.required">Required!</small>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputType">*Type</label>

                <div class="controls">
                    <select id="inputType" name="inputType" ng-model="currentType" ng-options="t.name for t in types" ng-change="setCurrentType(currentType)" ng-required="true">
                        <option value="">Select Type</option>
                    </select>

                    <div class="alert alert-error" ng-show="detailsForm.inputType.$dirty && detailsForm.inputType.$invalid">
                        <small ng-if="detailsForm.inputType.$error.required">Required!</small>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputDescription">Description</label>

                <div class="controls">
                    <textarea id="inputDescription" name="inputDescription" placeholder="Description" rows="3" ng-model="editedStory.description"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAcceptance">Acceptance Criteria</label>

                <div class="controls">
                    <textarea id="inputAcceptance" name="inputAcceptance" placeholder="Acceptance Criteria" rows="3" ng-model="editedStory.criteria"></textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputReporter">*Reporter</label>

                <div class="controls">
                    <input type="text" id="inputReporter" name="inputReporter" placeholder="Reporter" ng-model="editedStory.reporter" ng-required="true" ng-minlength="3" ng-pattern="/^[A-z ]+$/">

                    <div class="alert alert-error" ng-show="detailsForm.inputReporter.$dirty && detailsForm.inputReporter.$invalid">
                        <small ng-if="detailsForm.inputReporter.$error.required">Required!</small>
                        <small ng-if="detailsForm.inputReporter.$error.minlength">Too short!</small>
                        <small ng-if="detailsForm.inputReporter.$error.pattern">Letters only please!</small>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputAssignee">*Assignee</label>

                <div class="controls">
                    <input type="text" id="inputAssignee" name="inputAssignee" placeholder="Assignee" ng-model="editedStory.assignee" ng-required="true" ng-minlength="3" ng-pattern="/^[A-z ]+$/">

                    <div class="alert alert-error" ng-show="detailsForm.inputAssignee.$dirty && detailsForm.inputAssignee.$invalid">
                        <small ng-if="detailsForm.inputAssignee.$error.required">Required!</small>
                        <small ng-if="detailsForm.inputAssignee.$error.minlength">Too short!</small>
                        <small ng-if="detailsForm.inputAssignee.$error.pattern">Letters only please!</small>
                    </div>
                </div>
            </div>
        </form>
        <hr/>
        <div ng-if="currentStory">
            <button class="btn" ng-click="updateCancel()">Cancel</button>
            <button class="btn btn-inverse pull-right" ng-disabled="!detailsForm.$valid" ng-click="updateStory()">Update</button>
        </div>
        <div ng-if="!currentStory">
            <button class="btn btn-inverse pull-right" ng-disabled="!detailsForm.$valid" ng-click="createStory()">New Story</button>
        </div>
    </div>
</div>
