<form name="login.loginForm" role="form" class="form-signin" novalidate ng-submit="login.submit(login.user.email, login.user.password, login.user.register);">
    <p class="large">Please Sign In</p>
    <fieldset>
        <div>
          <input name="email" type="email" ng-model="login.user.email" placeholder="Enter Email" required />
          <div class="error" ng-messages="login.loginForm.email.$error" ng-if="login.showMessages('email')">
            <div ng-message="required">
              Please enter an email.
            </div>
            <div ng-message="email">
              Email should be in format example@example.com
            </div>
          </div>
        </div>
        <div>
          <input name="password" type="password" ng-model="login.user.password" placeholder="Enter Password" required />
          <div class="error" ng-messages="login.loginForm.password.$error" ng-if="login.showMessages('password')">
            <div ng-message="required">
              Please enter a password.
            </div>
          </div>
        </div>
        <div class="bottom x-small"><input type="checkbox" ng-model="login.user.register"> New User?</div>
        <button type="submit" class="btn btn-default btn-sm pull-right">
            <span class="glyphicon glyphicon-ok"></span> Sign In
        </button>
    </fieldset>
</form>
